@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  @apply bg-base-200;
}
