@font-face {
  font-family: "Euclid Flex";
  src: url("/fonts/euclid-flex/EuclidFlex-UltraLight.eot");
  src: local("Euclid Flex UltraLight"),
    local("/fonts/euclid-flex/EuclidFlex-UltraLight"),
    url("/fonts/euclid-flex/EuclidFlex-UltraLight.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/euclid-flex/EuclidFlex-UltraLight.woff2") format("woff2"),
    url("/fonts/euclid-flex/EuclidFlex-UltraLight.woff") format("woff"),
    url("/fonts/euclid-flex/EuclidFlex-UltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Euclid Flex";
  src: url("/fonts/euclid-flex/EuclidFlex-Light.eot");
  src: local("Euclid Flex Light"), local("/fonts/euclid-flex/EuclidFlex-Light"),
    url("/fonts/euclid-flex/EuclidFlex-Light.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/euclid-flex/EuclidFlex-Light.woff2") format("woff2"),
    url("/fonts/euclid-flex/EuclidFlex-Light.woff") format("woff"),
    url("/fonts/euclid-flex/EuclidFlex-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Euclid Flex";
  src: url("/fonts/euclid-flex/EuclidFlex-BoldItalic.eot");
  src: local("Euclid Flex Bold Italic"),
    local("/fonts/euclid-flex/EuclidFlex-BoldItalic"),
    url("/fonts/euclid-flex/EuclidFlex-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/euclid-flex/EuclidFlex-BoldItalic.woff2") format("woff2"),
    url("/fonts/euclid-flex/EuclidFlex-BoldItalic.woff") format("woff"),
    url("/fonts/euclid-flex/EuclidFlex-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Euclid Flex";
  src: url("/fonts/euclid-flex/EuclidFlex-ThinItalic.eot");
  src: local("Euclid Flex Thin Italic"),
    local("/fonts/euclid-flex/EuclidFlex-ThinItalic"),
    url("/fonts/euclid-flex/EuclidFlex-ThinItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/euclid-flex/EuclidFlex-ThinItalic.woff2") format("woff2"),
    url("/fonts/euclid-flex/EuclidFlex-ThinItalic.woff") format("woff"),
    url("/fonts/euclid-flex/EuclidFlex-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Euclid Flex";
  src: url("/fonts/euclid-flex/EuclidFlex-Regular.eot");
  src: local("Euclid Flex Regular"),
    local("/fonts/euclid-flex/EuclidFlex-Regular"),
    url("/fonts/euclid-flex/EuclidFlex-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/euclid-flex/EuclidFlex-Regular.woff2") format("woff2"),
    url("/fonts/euclid-flex/EuclidFlex-Regular.woff") format("woff"),
    url("/fonts/euclid-flex/EuclidFlex-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Euclid Flex";
  src: url("/fonts/euclid-flex/EuclidFlex-UltraLightItalic.eot");
  src: local("Euclid Flex UltraLight Italic"),
    local("/fonts/euclid-flex/EuclidFlex-UltraLightItalic"),
    url("/fonts/euclid-flex/EuclidFlex-UltraLightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/euclid-flex/EuclidFlex-UltraLightItalic.woff2") format("woff2"),
    url("/fonts/euclid-flex/EuclidFlex-UltraLightItalic.woff") format("woff"),
    url("/fonts/euclid-flex/EuclidFlex-UltraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Euclid Flex";
  src: url("/fonts/euclid-flex/EuclidFlex-MediumItalic.eot");
  src: local("Euclid Flex Medium Italic"),
    local("/fonts/euclid-flex/EuclidFlex-MediumItalic"),
    url("/fonts/euclid-flex/EuclidFlex-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/euclid-flex/EuclidFlex-MediumItalic.woff2") format("woff2"),
    url("/fonts/euclid-flex/EuclidFlex-MediumItalic.woff") format("woff"),
    url("/fonts/euclid-flex/EuclidFlex-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Euclid Flex";
  src: url("/fonts/euclid-flex/EuclidFlex-SemiBoldItalic.eot");
  src: local("Euclid Flex SemiBold Italic"),
    local("/fonts/euclid-flex/EuclidFlex-SemiBoldItalic"),
    url("/fonts/euclid-flex/EuclidFlex-SemiBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/euclid-flex/EuclidFlex-SemiBoldItalic.woff2") format("woff2"),
    url("/fonts/euclid-flex/EuclidFlex-SemiBoldItalic.woff") format("woff"),
    url("/fonts/euclid-flex/EuclidFlex-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Euclid Flex";
  src: url("/fonts/euclid-flex/EuclidFlex-SemiBold.eot");
  src: local("Euclid Flex SemiBold"),
    local("/fonts/euclid-flex/EuclidFlex-SemiBold"),
    url("/fonts/euclid-flex/EuclidFlex-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/euclid-flex/EuclidFlex-SemiBold.woff2") format("woff2"),
    url("/fonts/euclid-flex/EuclidFlex-SemiBold.woff") format("woff"),
    url("/fonts/euclid-flex/EuclidFlex-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Euclid Flex";
  src: url("/fonts/euclid-flex/EuclidFlex-LightItalic.eot");
  src: local("Euclid Flex Light Italic"),
    local("/fonts/euclid-flex/EuclidFlex-LightItalic"),
    url("/fonts/euclid-flex/EuclidFlex-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/euclid-flex/EuclidFlex-LightItalic.woff2") format("woff2"),
    url("/fonts/euclid-flex/EuclidFlex-LightItalic.woff") format("woff"),
    url("/fonts/euclid-flex/EuclidFlex-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Euclid Flex";
  src: url("/fonts/euclid-flex/EuclidFlex-Italic.eot");
  src: local("Euclid Flex Italic"),
    local("/fonts/euclid-flex/EuclidFlex-Italic"),
    url("/fonts/euclid-flex/EuclidFlex-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/euclid-flex/EuclidFlex-Italic.woff2") format("woff2"),
    url("/fonts/euclid-flex/EuclidFlex-Italic.woff") format("woff"),
    url("/fonts/euclid-flex/EuclidFlex-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Euclid Flex";
  src: url("/fonts/euclid-flex/EuclidFlex-Bold.eot");
  src: local("Euclid Flex Bold"), local("/fonts/euclid-flex/EuclidFlex-Bold"),
    url("/fonts/euclid-flex/EuclidFlex-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/euclid-flex/EuclidFlex-Bold.woff2") format("woff2"),
    url("/fonts/euclid-flex/EuclidFlex-Bold.woff") format("woff"),
    url("/fonts/euclid-flex/EuclidFlex-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Euclid Flex";
  src: url("/fonts/euclid-flex/EuclidFlex-Thin.eot");
  src: local("Euclid Flex Thin"), local("/fonts/euclid-flex/EuclidFlex-Thin"),
    url("/fonts/euclid-flex/EuclidFlex-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/euclid-flex/EuclidFlex-Thin.woff2") format("woff2"),
    url("/fonts/euclid-flex/EuclidFlex-Thin.woff") format("woff"),
    url("/fonts/euclid-flex/EuclidFlex-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Euclid Flex";
  src: url("/fonts/euclid-flex/EuclidFlex-Medium.eot");
  src: local("Euclid Flex Medium"),
    local("/fonts/euclid-flex/EuclidFlex-Medium"),
    url("/fonts/euclid-flex/EuclidFlex-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/euclid-flex/EuclidFlex-Medium.woff2") format("woff2"),
    url("/fonts/euclid-flex/EuclidFlex-Medium.woff") format("woff"),
    url("/fonts/euclid-flex/EuclidFlex-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
