@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("/fonts/gilroy/Gilroy-Regular"),
    url("/fonts/gilroy/Gilroy-Regular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/gilroy/Gilroy-Regular.woff2") format("woff2"),
    url("/fonts/gilroy/Gilroy-Regular.woff") format("woff"),
    url("/fonts/gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-ExtraboldItalic.eot");
  src: local("Gilroy Extrabold Italic"),
    local("/fonts/gilroy/Gilroy-ExtraboldItalic"),
    url("/fonts/gilroy/Gilroy-ExtraboldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/gilroy/Gilroy-ExtraboldItalic.woff2") format("woff2"),
    url("/fonts/gilroy/Gilroy-ExtraboldItalic.woff") format("woff"),
    url("/fonts/gilroy/Gilroy-ExtraboldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("/fonts/gilroy/Gilroy-Bold"),
    url("/fonts/gilroy/Gilroy-Bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/gilroy/Gilroy-Bold.woff2") format("woff2"),
    url("/fonts/gilroy/Gilroy-Bold.woff") format("woff"),
    url("/fonts/gilroy/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-Black.eot");
  src: local("Gilroy Black"), local("/fonts/gilroy/Gilroy-Black"),
    url("/fonts/gilroy/Gilroy-Black.eot?#iefix") format("embedded-opentype"),
    url("/fonts/gilroy/Gilroy-Black.woff2") format("woff2"),
    url("/fonts/gilroy/Gilroy-Black.woff") format("woff"),
    url("/fonts/gilroy/Gilroy-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-Light.eot");
  src: local("Gilroy Light"), local("/fonts/gilroy/Gilroy-Light"),
    url("/fonts/gilroy/Gilroy-Light.eot?#iefix") format("embedded-opentype"),
    url("/fonts/gilroy/Gilroy-Light.woff2") format("woff2"),
    url("/fonts/gilroy/Gilroy-Light.woff") format("woff"),
    url("/fonts/gilroy/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-Semibold.eot");
  src: local("Gilroy Semibold"), local("/fonts/gilroy/Gilroy-Semibold"),
    url("/fonts/gilroy/Gilroy-Semibold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/gilroy/Gilroy-Semibold.woff2") format("woff2"),
    url("/fonts/gilroy/Gilroy-Semibold.woff") format("woff"),
    url("/fonts/gilroy/Gilroy-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("/fonts/gilroy/Gilroy-Medium"),
    url("/fonts/gilroy/Gilroy-Medium.eot?#iefix") format("embedded-opentype"),
    url("/fonts/gilroy/Gilroy-Medium.woff2") format("woff2"),
    url("/fonts/gilroy/Gilroy-Medium.woff") format("woff"),
    url("/fonts/gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-MediumItalic.eot");
  src: local("Gilroy Medium Italic"), local("/fonts/gilroy/Gilroy-MediumItalic"),
    url("/fonts/gilroy/Gilroy-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/gilroy/Gilroy-MediumItalic.woff2") format("woff2"),
    url("/fonts/gilroy/Gilroy-MediumItalic.woff") format("woff"),
    url("/fonts/gilroy/Gilroy-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-BlackItalic.eot");
  src: local("Gilroy Black Italic"), local("/fonts/gilroy/Gilroy-BlackItalic"),
    url("/fonts/gilroy/Gilroy-BlackItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/gilroy/Gilroy-BlackItalic.woff2") format("woff2"),
    url("/fonts/gilroy/Gilroy-BlackItalic.woff") format("woff"),
    url("/fonts/gilroy/Gilroy-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-UltraLight.eot");
  src: local("Gilroy UltraLight"), local("/fonts/gilroy/Gilroy-UltraLight"),
    url("/fonts/gilroy/Gilroy-UltraLight.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/gilroy/Gilroy-UltraLight.woff2") format("woff2"),
    url("/fonts/gilroy/Gilroy-UltraLight.woff") format("woff"),
    url("/fonts/gilroy/Gilroy-UltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-RegularItalic.eot");
  src: local("Gilroy Regular Italic"),
    local("/fonts/gilroy/Gilroy-RegularItalic"),
    url("/fonts/gilroy/Gilroy-RegularItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/gilroy/Gilroy-RegularItalic.woff2") format("woff2"),
    url("/fonts/gilroy/Gilroy-RegularItalic.woff") format("woff"),
    url("/fonts/gilroy/Gilroy-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-SemiboldItalic.eot");
  src: local("Gilroy Semibold Italic"),
    local("/fonts/gilroy/Gilroy-SemiboldItalic"),
    url("/fonts/gilroy/Gilroy-SemiboldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/gilroy/Gilroy-SemiboldItalic.woff2") format("woff2"),
    url("/fonts/gilroy/Gilroy-SemiboldItalic.woff") format("woff"),
    url("/fonts/gilroy/Gilroy-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-HeavyItalic.eot");
  src: local("Gilroy Heavy Italic"), local("/fonts/gilroy/Gilroy-HeavyItalic"),
    url("/fonts/gilroy/Gilroy-HeavyItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/gilroy/Gilroy-HeavyItalic.woff2") format("woff2"),
    url("/fonts/gilroy/Gilroy-HeavyItalic.woff") format("woff"),
    url("/fonts/gilroy/Gilroy-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-Extrabold.eot");
  src: local("Gilroy Extrabold"), local("/fonts/gilroy/Gilroy-Extrabold"),
    url("/fonts/gilroy/Gilroy-Extrabold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/gilroy/Gilroy-Extrabold.woff2") format("woff2"),
    url("/fonts/gilroy/Gilroy-Extrabold.woff") format("woff"),
    url("/fonts/gilroy/Gilroy-Extrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-BoldItalic.eot");
  src: local("Gilroy Bold Italic"), local("/fonts/gilroy/Gilroy-BoldItalic"),
    url("/fonts/gilroy/Gilroy-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/gilroy/Gilroy-BoldItalic.woff2") format("woff2"),
    url("/fonts/gilroy/Gilroy-BoldItalic.woff") format("woff"),
    url("/fonts/gilroy/Gilroy-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-UltraLightItalic.eot");
  src: local("Gilroy UltraLight Italic"),
    local("/fonts/gilroy/Gilroy-UltraLightItalic"),
    url("/fonts/gilroy/Gilroy-UltraLightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/gilroy/Gilroy-UltraLightItalic.woff2") format("woff2"),
    url("/fonts/gilroy/Gilroy-UltraLightItalic.woff") format("woff"),
    url("/fonts/gilroy/Gilroy-UltraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-LightItalic.eot");
  src: local("Gilroy Light Italic"), local("/fonts/gilroy/Gilroy-LightItalic"),
    url("/fonts/gilroy/Gilroy-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/gilroy/Gilroy-LightItalic.woff2") format("woff2"),
    url("/fonts/gilroy/Gilroy-LightItalic.woff") format("woff"),
    url("/fonts/gilroy/Gilroy-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-Heavy.eot");
  src: local("Gilroy Heavy"), local("/fonts/gilroy/Gilroy-Heavy"),
    url("/fonts/gilroy/Gilroy-Heavy.eot?#iefix") format("embedded-opentype"),
    url("/fonts/gilroy/Gilroy-Heavy.woff2") format("woff2"),
    url("/fonts/gilroy/Gilroy-Heavy.woff") format("woff"),
    url("/fonts/gilroy/Gilroy-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-Thin.eot");
  src: local("Gilroy Thin"), local("/fonts/gilroy/Gilroy-Thin"),
    url("/fonts/gilroy/Gilroy-Thin.eot?#iefix") format("embedded-opentype"),
    url("/fonts/gilroy/Gilroy-Thin.woff2") format("woff2"),
    url("/fonts/gilroy/Gilroy-Thin.woff") format("woff"),
    url("/fonts/gilroy/Gilroy-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-ThinItalic.eot");
  src: local("Gilroy Thin Italic"), local("/fonts/gilroy/Gilroy-ThinItalic"),
    url("/fonts/gilroy/Gilroy-ThinItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/gilroy/Gilroy-ThinItalic.woff2") format("woff2"),
    url("/fonts/gilroy/Gilroy-ThinItalic.woff") format("woff"),
    url("/fonts/gilroy/Gilroy-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Silk Flower";
  src: url("/fonts/silk-flower/SilkFlowerDemo-Regular.eot");
  src: url("/fonts/silk-flower/SilkFlowerDemo-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/silk-flower/SilkFlowerDemo-Regular.woff2") format("woff2"),
    url("/fonts/silk-flower/SilkFlowerDemo-Regular.woff") format("woff"),
    url("/fonts/silk-flower/SilkFlowerDemo-Regular.ttf") format("truetype"),
    url("/fonts/silk-flower/SilkFlowerDemo-Regular.svg#SilkFlowerDemo-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("/fonts/sofia-pro/SofiaProSemiBold.eot");
  src: local("Sofia Pro Semi Bold"), local("/fonts/sofia-pro/SofiaProSemiBold"),
    url("/fonts/sofia-pro/SofiaProSemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/sofia-pro/SofiaProSemiBold.woff2") format("woff2"),
    url("/fonts/sofia-pro/SofiaProSemiBold.woff") format("woff"),
    url("/fonts/sofia-pro/SofiaProSemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("/fonts/sofia-pro/SofiaProRegular-Italic.eot");
  src: local("Sofia Pro Regular Italic"),
    local("/fonts/sofia-pro/SofiaProRegular-Italic"),
    url("/fonts/sofia-pro/SofiaProRegular-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/sofia-pro/SofiaProRegular-Italic.woff2") format("woff2"),
    url("/fonts/sofia-pro/SofiaProRegular-Italic.woff") format("woff"),
    url("/fonts/sofia-pro/SofiaProRegular-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("/fonts/sofia-pro/SofiaProSemiBold-Italic.eot");
  src: local("Sofia Pro Semi Bold Italic"),
    local("/fonts/sofia-pro/SofiaProSemiBold-Italic"),
    url("/fonts/sofia-pro/SofiaProSemiBold-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/sofia-pro/SofiaProSemiBold-Italic.woff2") format("woff2"),
    url("/fonts/sofia-pro/SofiaProSemiBold-Italic.woff") format("woff"),
    url("/fonts/sofia-pro/SofiaProSemiBold-Italic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("/fonts/sofia-pro/SofiaProLight.eot");
  src: local("Sofia Pro Light"), local("/fonts/sofia-pro/SofiaProLight"),
    url("/fonts/sofia-pro/SofiaProLight.eot?#iefix") format("embedded-opentype"),
    url("/fonts/sofia-pro/SofiaProLight.woff2") format("woff2"),
    url("/fonts/sofia-pro/SofiaProLight.woff") format("woff"),
    url("/fonts/sofia-pro/SofiaProLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("/fonts/sofia-pro/SofiaProExtraLight.eot");
  src: local("Sofia Pro ExtraLight"),
    local("/fonts/sofia-pro/SofiaProExtraLight"),
    url("/fonts/sofia-pro/SofiaProExtraLight.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/sofia-pro/SofiaProExtraLight.woff2") format("woff2"),
    url("/fonts/sofia-pro/SofiaProExtraLight.woff") format("woff"),
    url("/fonts/sofia-pro/SofiaProExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("/fonts/sofia-pro/SofiaProMedium-Italic.eot");
  src: local("Sofia Pro Medium Italic"),
    local("/fonts/sofia-pro/SofiaProMedium-Italic"),
    url("/fonts/sofia-pro/SofiaProMedium-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/sofia-pro/SofiaProMedium-Italic.woff2") format("woff2"),
    url("/fonts/sofia-pro/SofiaProMedium-Italic.woff") format("woff"),
    url("/fonts/sofia-pro/SofiaProMedium-Italic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("/fonts/sofia-pro/SofiaProUltraLight-Italic.eot");
  src: local("Sofia Pro UltraLight Italic"),
    local("/fonts/sofia-pro/SofiaProUltraLight-Italic"),
    url("/fonts/sofia-pro/SofiaProUltraLight-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/sofia-pro/SofiaProUltraLight-Italic.woff2") format("woff2"),
    url("/fonts/sofia-pro/SofiaProUltraLight-Italic.woff") format("woff"),
    url("/fonts/sofia-pro/SofiaProUltraLight-Italic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("/fonts/sofia-pro/SofiaProRegular.eot");
  src: local("Sofia Pro Regular"), local("/fonts/sofia-pro/SofiaProRegular"),
    url("/fonts/sofia-pro/SofiaProRegular.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/sofia-pro/SofiaProRegular.woff2") format("woff2"),
    url("/fonts/sofia-pro/SofiaProRegular.woff") format("woff"),
    url("/fonts/sofia-pro/SofiaProRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("/fonts/sofia-pro/SofiaProMedium.eot");
  src: local("Sofia Pro Medium"), local("/fonts/sofia-pro/SofiaProMedium"),
    url("/fonts/sofia-pro/SofiaProMedium.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/sofia-pro/SofiaProMedium.woff2") format("woff2"),
    url("/fonts/sofia-pro/SofiaProMedium.woff") format("woff"),
    url("/fonts/sofia-pro/SofiaProMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("/fonts/sofia-pro/SofiaProBold.eot");
  src: local("Sofia Pro Bold"), local("/fonts/sofia-pro/SofiaProBold"),
    url("/fonts/sofia-pro/SofiaProBold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/sofia-pro/SofiaProBold.woff2") format("woff2"),
    url("/fonts/sofia-pro/SofiaProBold.woff") format("woff"),
    url("/fonts/sofia-pro/SofiaProBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("/fonts/sofia-pro/SofiaProExtraLight-Italic.eot");
  src: local("Sofia Pro ExtraLight Italic"),
    local("/fonts/sofia-pro/SofiaProExtraLight-Italic"),
    url("/fonts/sofia-pro/SofiaProExtraLight-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/sofia-pro/SofiaProExtraLight-Italic.woff2") format("woff2"),
    url("/fonts/sofia-pro/SofiaProExtraLight-Italic.woff") format("woff"),
    url("/fonts/sofia-pro/SofiaProExtraLight-Italic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("/fonts/sofia-pro/SofiaProLight-Italic.eot");
  src: local("Sofia Pro Light Italic"),
    local("/fonts/sofia-pro/SofiaProLight-Italic"),
    url("/fonts/sofia-pro/SofiaProLight-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/sofia-pro/SofiaProLight-Italic.woff2") format("woff2"),
    url("/fonts/sofia-pro/SofiaProLight-Italic.woff") format("woff"),
    url("/fonts/sofia-pro/SofiaProLight-Italic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("/fonts/sofia-pro/SofiaProBlack-Italic.eot");
  src: local("Sofia Pro Black Italic"),
    local("/fonts/sofia-pro/SofiaProBlack-Italic"),
    url("/fonts/sofia-pro/SofiaProBlack-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/sofia-pro/SofiaProBlack-Italic.woff2") format("woff2"),
    url("/fonts/sofia-pro/SofiaProBlack-Italic.woff") format("woff"),
    url("/fonts/sofia-pro/SofiaProBlack-Italic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("/fonts/sofia-pro/SofiaProBlack.eot");
  src: local("Sofia Pro Black"), local("/fonts/sofia-pro/SofiaProBlack"),
    url("/fonts/sofia-pro/SofiaProBlack.eot?#iefix") format("embedded-opentype"),
    url("/fonts/sofia-pro/SofiaProBlack.woff2") format("woff2"),
    url("/fonts/sofia-pro/SofiaProBlack.woff") format("woff"),
    url("/fonts/sofia-pro/SofiaProBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("/fonts/sofia-pro/SofiaProUltraLight.eot");
  src: local("Sofia Pro UltraLight"),
    local("/fonts/sofia-pro/SofiaProUltraLight"),
    url("/fonts/sofia-pro/SofiaProUltraLight.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/sofia-pro/SofiaProUltraLight.woff2") format("woff2"),
    url("/fonts/sofia-pro/SofiaProUltraLight.woff") format("woff"),
    url("/fonts/sofia-pro/SofiaProUltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("/fonts/sofia-pro/SofiaProBold-Italic.eot");
  src: local("Sofia Pro Bold Italic"),
    local("/fonts/sofia-pro/SofiaProBold-Italic"),
    url("/fonts/sofia-pro/SofiaProBold-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/sofia-pro/SofiaProBold-Italic.woff2") format("woff2"),
    url("/fonts/sofia-pro/SofiaProBold-Italic.woff") format("woff"),
    url("/fonts/sofia-pro/SofiaProBold-Italic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
